/**
 * (title missing))
 *
 * @author  Marco Di Bella
 * @package ARTlyris
 */



.edition-image {
    left: calc(-1*min((45% / 2), 80px) );
    position: relative;
}


.edition-image--animate-fade-in,
.edition-image--animate-fade-in + .edition-image-link {
    opacity: 0;
}
