<!-- wp:template-part {"slug":"header","tagName":"header"} /-->


<!-- wp:group {"className":"site-component-backdrop"} -->
<div class="wp-block-group site-component-backdrop"></div>
<!-- /wp:group -->


<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{margin":{"top":"0!important"}}}} -->
<main class="wp-block-group" style="margin-top:0!important;">

    <!-- wp:group {"style":{"spacing":{"padding":{"top":"calc(var(--header-height) + var(--wp--preset--spacing--40))","bottom":"var:preset|spacing|30","left":"style|root|padding|left","right":"style|root|padding|right"},"margin":{"bottom":"custom|main|padding-top","top":"calc(-1*var(--header-height))"}}},"backgroundColor":"rgba(0,0,0,0.05)","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull" style="background:rgba(0,0,0,0.05);padding-top:calc(var(--header-height) + var(--wp--preset--spacing--40));padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--style--root--padding-left);padding-right:var(--wp--style--root--padding-right);margin-bottom:var(--wp--custom--main--padding-top);margin-top:calc(-1*var(--header-height));">

        <!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false,"style":{"typography":{"fontStyle":"normal","fontWeight":"200"}},"fontSize":"x-large"} /-->

        <!-- wp:post-author-biography /-->

    </div>
    <!-- /wp:group -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">

        <!-- wp:pattern {"slug":"artlyris-theme/posts-4-col"} /-->

    </div>
    <!-- /wp:group -->


</main>
<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
