<!-- wp:template-part {"slug":"header","tagName":"header"} /-->


<!-- wp:group {"className":"site-component-backdrop"} -->
<div class="wp-block-group site-component-backdrop"></div>
<!-- /wp:group -->


<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

    <!-- wp:group {"tagName":"article"} -->
    <article class="wp-block-group">

        <!-- wp:post-content /-->

    </article>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
