<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:template-part {"slug":"slideout","className":"site-component-slideout"} /-->


<!-- wp:group {"className":"site-component-backdrop"} -->
<div class="wp-block-group site-component-backdrop"></div>
<!-- /wp:group -->


<!-- wp:group {"tagName":"main","spacing":{"padding":{"top":"custom|main|padding-top"}}} -->
<main class="wp-block-group" style="padding-top:var(--wp--custom--main--padding-top);">

    <!-- wp:post-content {"layout":{"inherit":true}} /-->

</main>
<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
