<!-- wp:template-part {"slug":"header","tagName":"header"} /-->


<!-- wp:group {"className":"site-component-backdrop"} -->
<div class="wp-block-group site-component-backdrop"></div>
<!-- /wp:group -->


<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"spacing":{"padding":{"top":"custom|main|padding-top"}}} -->
<main class="wp-block-group" style="padding-top:var(--wp--custom--main--padding-top);">

    <!-- wp:columns {"style":{"spacing":{"blockGap":"4rem"}}} -->
    <div class="wp-block-columns">

        <!-- wp:column {"width":"75%","className":"site-component-content","tagName":"article"} -->
        <article class="wp-block-column site-component-content" style="flex-basis:75%">

            <!-- wp:post-content /-->

            <!-- wp:spacer -->
            <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:pattern {"slug":"artlyris-theme/post-category-terms"} /-->

        </article>
        <!-- /wp:column -->

        <!-- wp:column {"width":"25%","className":"site-component-sidebar","tagName":"aside","layout":{"type":"flex","orientation":"vertical"},"style":{"spacing":{"blockGap":"3rem"}}} -->
        <aside class="wp-block-column site-component-sidebar" style="flex-basis:25%">

            <!-- wp:pattern {"slug":"artlyris-theme/sidebar"} /-->

        </aside>
        <!-- /wp:column -->

    </div>
    <!-- /wp:columns -->

</main>
<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
