<!-- wp:template-part {"slug":"header","tagName":"header"} /-->


<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

    <!-- wp:query {"tagName":"article","className":"site-component-main-content","layout":{"type":"constrained"}} -->
    <article class="site-component-main-content">

        <!-- wp:post-content {"layout":{inherit":true}} /-->

    </article>
    <!-- /wp:query -->

</main>
<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
