/**
 * Site components: header-navigation, header-logo
 *
 * @author  Marco Di Bella
 * @package ARTlyris
 */



/**
 * .site-component-header-navigation
 */

.site-component-header-navigation-item-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    padding-left: 0;
}


.site-component-header-navigation-item {
    line-height: 0;
}


.site-component-header-navigation-item__content {
    font-family: var(--wp--preset--font-family--open-sans);
    font-size: 60%;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 2px;
    text-transform: uppercase;
}



/**
 * .site-component-header-logo
 */


.site-component-header-logo {
    display: block;
    width: auto;
    height: 3rem;

    @include on_breakpoint(medium) {
        height: 4rem
    }

    & > svg {
        width: auto;
        height: 100%;
    }
}
