/**
 * Site component: sidebar
 *
 * @author  Marco Di Bella
 * @package ARTlyris
 */



.site-component-sidebar-tool {
    font-family: var(--wp--preset--font-family--open-sans);
    font-size: var(--wp--preset--font-size--small);

    & + & {
        margin-top: 2rem;

        @include on_breakpoint(medium) {
            margin-top: 3rem;
        }
    }
}


.site-component-sidebar-tool > .wp-block-heading {
    font-family: var(--wp--preset--font-family--cormorant);
    font-style: italic;
    font-weight: 600;
    font-size: var(--wp--preset--font-size--small);
    color: var(--wp--preset--color--dark-blue);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: .5rem;


    & .label {
        flex-shrink: 0;
    }


    & .line {
        border-bottom: 1px solid var(--wp--preset--color--blue);
        display: block;
        flex-basis: 100%;
        flex-shrink: 1;
    }
}



.site-component-sidebar-tool > .wp-block-heading + * {
    margin: 0;
    padding-left: 1rem !important;
    padding-top: 1rem !important;
}


.site-component-sidebar-tool a {
    font-size: 75%;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 1px;
}
