/**
 * Site component: sidebar
 *
 * @author  Marco Di Bella
 * @package ARTlyris
 */



.site-component-sidebar-tool {
    font-family: var(--wp--preset--font-family--open-sans);
    font-size: var(--wp--preset--font-size--small);

    & + & {
        margin-top: 2rem;

        @include on_breakpoint(medium) {
            margin-top: 3rem;
        }
    }
}


.site-component-sidebar-tool > .wp-block-heading {
    font-family: var(--wp--preset--font-family--cormorant);
    font-style: italic;
    font-weight: 600;
    font-size: var(--wp--preset--font-size--small);
    color: var(--wp--preset--color--dark-blue);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;

    &::after {
        border-bottom: 1px solid var(--wp--preset--color--blue);
        content: " ";
        display: block;
        top: -6px;
        left: 0;
        position: relative;
        width: 100%;
        z-index: -1;
    }

    & > span {
        background: var(--wp--preset--color--pale-gray);
        padding: 0 8px 1px 0;
    }
}


.site-component-sidebar-tool > .wp-block-heading + * {
    margin: 0;
    padding-left: 1rem !important;
    padding-top: 1rem !important;
}


.site-component-sidebar-tool a {
    font-size: 75%;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 1px;
}
