/**
 * Site component: main-content
 *
 * @author  Marco Di Bella
 * @package ARTlyris
 */



.site-component-main-content {
    background: var(--wp--preset--color--pale-blue);
    border-radius: .5rem;
    border-top: 1rem solid var(--wp--preset--color--dark-blue);
    margin: 5rem auto;
    padding: 4rem 80px;
    box-shadow: 0 5px 20px 10px rgba(99,114,130,.25);
}
