/**
 * Block: core/post-featured-image
 *
 * @author  Marco Di Bella
 * @package ARTlyris
 */



.wp-block-post-featured-image a img {
    transition: all .3s ease-in-out;

    &:hover,
    &:focus {
        transform: scale(.95);
        filter: brightness(.7);
    }
}
